/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on  : 2014. 12. 31, AM 2:49:50
    Modified on : 2015. 01. 01. PM 7:36     Success to find what is problem 
                                            - css could not realize '//' to comment, use another
    Author      : yongbam
*/

/* Fiexed layout by Jquery for save, delete */
.layer
{
    display:none; 
    position:fixed; 
    _position:absolute; 
    top:0; left:0; width:100%; height:100%; 
    z-index:100;
}
.layer .bg
{
    position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);
}
.layer .pop-layer
{
    display:block;
}

.pop-layer {display:none; position: absolute; top: 50%; left: 50%; width: 410px; height:auto;  background-color:#fff; border: 5px solid #3571B5; z-index: 10;}	
.pop-layer .pop-container {padding: 20px 25px;}
.pop-layer p.ctxt {color: #666; line-height: 25px;}
.pop-layer .btn-r {width: 100%; margin:10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; text-align:right;}

a.cbtn {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #304a8a; background-color:#3f5a9d; font-size:13px; color:#fff; line-height:25px;}	
a.cbtn:hover {border: 1px solid #091940; background-color:#1f326a; color:#fff;}

/* For input text and date to fix table cell */
input[type="text"], input[type="date"], input[type="datetime-local"]
{
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
td
{
   alignment-adjust: central;
}
#content_table td
{
    border: 1px solid #999;
}
.full_length_field
{
    width: 50%;
}