/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015. 1. 1, 오후 11:36:14
    Author     : yongbam
*/
#sub_td
{
    width: 30px;
}
div
{
    position: relative;
    white-space: nowrap;
}
#search_div
{
    left: 0px;
    top: -10px;
    width: 290px;
}
#result_div
{
    left: 0px;
    top: 0px;
    width: 290px;
}
#button_div
{
    left: 0px;
    top: 0px;
}
#business_number_div
{
    left: 0px;
    top: 0px;
    width: 350px;
}
#important_info_div
{
    left: 0px;
    top: 0px;
    width: 350px;
}
#Other_info_div
{
    left: 0px;
    top: 0px;
    width: 550px;
}
#account_detail_div
{
    left: 0px;
    top: 0px;
    width: 550px;
}